body
{
  background-color: #F2F2F2;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Login Page styles*/
.input-group
{
  margin: 5 0 5 0;
}

#formularz
{
  margin-top:20%;
}

/* index Page styles */
.hr-section
{
  border-top:1px solid #BBB;
}
.section
{
  margin: 50px 0px 50px 0px;
  padding-top: 40px;
}

.postContent
{
  text-align: justify;
}
.postInformacje
{
  margin-top: 20px;
  margin-bottom: 20px;
}
