<!DOCTYPE html>
<html>
	<head>
		<title>Maciej Bartłomiejczyk - engineering thesis</title>
		<meta name="vievport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container">
			<h3>CA & RA server of PublicKeyInfrastructure is runnig...</h3>
			<p>
				Maciej Bartłomiejczyk ©
				<br>
				- Running from: {{ days }} days, {{ hours }} hours, {{ minutes }} minutes, {{ seconds }} seconds.   -
			</p>
		</div>
	</body>
</html>
