<!DOCTYPE html>
<html>
	<head>
		<title>Maciej Bartłomiejczyk - engineering thesis</title>
		<meta name="vievport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/style.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container">
			<div class="row section">
				<h2 class='text-center'>Information</h2>
				<hr class="hr-section">
				<h3>CA & RA server of PublicKeyInfrastructure is runnig...</h3>
				<p>
					- Last change: {{ days }} days, {{ hours }} hours, {{ minutes }} minutes, {{ seconds }} seconds -
				</p>
			</div>

			<div class="row section">
				<h2 class='text-center'>Documentation</h2>
				<hr class="hr-section">
				<p>
				</p>
			</div>
		</div>
	</body>
</html>
